{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <title>Register</title>
</head>
<body>
    <section class="vh-100" style="
        background: #fbc2eb; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1)); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-md-12 col-lg-10 col-xl-8"> <!-- Further increased column size -->
                    <div class="card" style="border-radius: 15px; background-color: #f8f9fa; padding: 40px;"> <!-- Increased padding -->
                        <div class="card-body text-black">
                            <div>
                                <h6 class="mb-4">Your Profile Page :)</h6>
                            </div>
                            <div class="d-flex align-items-center mb-4">
                                <div class="flex-grow-1 ms-3">
                                    <div class="d-flex flex-row align-items-center mb-2">
                                        <p class="mb-0 me-2">{{ user.email }}</p>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <form action="{% url 'logout' %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-success btn-rounded btn-block btn-lg">Log Out</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
