{% extends 'base.html' %}
{% load static %}

{% block content %}
        <!-- Single Page Header start -->
        <div class="container-fluid page-header py-5">
            <h1 class="text-center text-white display-6">Shop Detail</h1>
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active text-white">Shop Detail</li>
            </ol>
        </div>
        <!-- Single Page Header End -->
    
        <!-- Single Product Start -->
        <div class="container-fluid py-5 mt-5">
            <div class="container py-5">
                <div class="row g-4 mb-5">
                    <div class="col-lg-8 col-xl-9">
                        <div class="row g-4">
                            <div class="col-lg-6">
                                <div class="border rounded">
                                    <a href="#">
                                        <img src="{{ single_product.product_image.url }}" class="img-fluid rounded" alt="Image">
                                    </a>
                                </div>
                            </div> 
                            <div class="col-lg-6">
                                <h4 class="fw-bold mb-3">{{ single_product.name }}</h4>
                                <p class="mb-3">Category: {{ single_product.category }}</p>
                                <h5 class="fw-bold mb-3">{{ single_product.price }} $</h5>
                                <p class="mb-4">{{ single_product.description }}</p>
                                
                                <form method="POST" action="{% url 'add_to_cart' single_product.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary">
                                        <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
                                    </button>
                                </form>
                            </div>

                    <div class="col-lg-4 col-xl-3">
                        <div class="row g-4 fruite">
                            <div class="col-lg-12">
                                <div class="position-relative">
                                    <img src="{% static 'img/banner-fruits.jpg' %}" class="img-fluid w-100 rounded" alt="">
                                    <div class="position-absolute" style="top: 50%; right: 10px; transform: translateY(-50%);">
                                        <h3 class="text-secondary fw-bold">Fresh <br> Fruits</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
        <!-- Single Product End -->
{% endblock %}